<h1>List Names</h1>

<%= simple_form_for :team, url: "/teams/" do |f| %>
  <%= f.input(
    :team_size,
    as: :integer,
    input_html: { value: 2, min: 1 },
    required: true
  ) %>
  <%= f.input(
    :text,
    placeholder: "list first names separated by spaces...",
    label: false,
    as: :text,
    required: true
  ) %>
  <%= f.submit "Create Teams" %>
<% end %>

<h1>Teams:<h1>
<%= @markup %>

<script>
  $("form").on("submit", function(e){
    var text = $("#team_text").val()
    if (text.indexOf("Andy") >= 0) {
      alert("Are you sure you want to include Andy?")
    }
  });
</script>
