<form>
	<label for="title">Title</label>
	<input id="title" type="text" name="title" value="<%= model.escape("title") %>">

	<label for="description">Description</label>
	<input id="description" type="text" name="description" value="<%= model.escape("description") %>">
	
	<label for="date">Year Created</label>
	<input id="date" type="text" name="year" value="<%= model.escape("year") %>">
	
	<label for="height">Height</label>
	<input id="height" type="text" name="height" value="<%= model.escape("height") %>">
	
	<label for="width">Width</label>
	<input id="width" type="text" name="width" value="<%= model.escape("width") %>">

 <button>Create Project</button>
</form>

<button class="cancel">Cancel</button>