
<button class="back">Back</button>
<button class="edit-mode <%= Maddie.helpers["currentUserClass"]() %>">Edit Mode</button>
<button class="delete <%= Maddie.helpers["currentUserClass"]() %>">Delete</button>

<h1><%= model.escape("title") %></h1>

<p><%= model.escape("description") %></p>

<p><%= model.escape("year") %></p>


<% model.photos().each(function(photo){ %>

	<a href="<%= photo.get("avatar_styles").full %>"><img src="<%= photo.get("avatar_styles").suggested_photo_based_on_size %>"></a>

<% }) %>

<div class="<%= Maddie.helpers["currentUserClass"]() %>">
	<a href="/projects/<%= model.get("id") %>/photos/new">Link to Picture Upload!</a>
</div>


<h3>Tags</h3>
<% model.media().each(function(medium){ %>

<li><a href="#/media/<%= medium.get("id") %>"><%= medium.escape("name") %></a></li>

<% }) %>
