<h1><%= model.escape("title") %></h1>

<button class="back">Back</button>

<p><%= model.escape("description") %></p>

<p><%= model.escape("year") %></p>



<h3>Tags</h3>
<% model.media().forEach(function(medium){ %>

<li><a href="#/media/<%= medium.get("id") %>"><%= medium.escape("name") %></a></li>

<% }) %>
