<button class="back">Back</button>
<button class="edit-mode">Edit Mode</button>

<h1><%= model.escape("title") %></h1>

<p><%= model.escape("description") %></p>

<p><%= model.escape("year") %></p>


<% model.photos().forEach(function(photo){ %>

	<img src="<%= photo.get("avatar") %>" width="200" height="200">

<% }) %>


<a href="/projects/<%= model.get("id") %>/photos/new">Link to Picture Upload!</a>



<h3>Tags</h3>
<% model.media().forEach(function(medium){ %>

<li><a href="#/media/<%= medium.get("id") %>"><%= medium.escape("name") %></a></li>

<% }) %>
