<%= content_for :dialogue do %>
  <h1>Edit User Information</h1>
<% end %>

<%= simple_form_for @user do |f| %>
  <%= f.fields_for :domains do |ff| %>
    <%= ff.input :host %>
    <%= ff.input :page_title %>
  <% end %>

  <%= f.submit %>
<% end %>
