<%= form_for(page) do |f| %>
  <div class="container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="container">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="container">
    <%= f.label :order %>
    <%= f.text_field :order %>
  </div>

  <div class="container">
    <%= f.label :url_key %>
    <%= f.text_field :url_key %>
  </div>

  <%= f.submit %>
<% end %>

<div class="preview">
  <%= MarkdownHelper.new(page.body).render %>
</div>
