<% view_helper = View::DisplayPhoto.new(@project, params) %>

<% if @project.domain.user == current_user %>
  <%= link_to("Edit This Project", edit_project_url(@project)) %>
<% end %>

<div class="projects">
  <ul class="project-photo-thumbs nav nav-pills">
    <% @project.photos.each do |photo| %>
      <li class="photo">
      <%= link_to view_helper.photo_url(photo) do %>
        <%= image_tag(photo.avatar.url(:thumb)) %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to(
    project_url(@project, photo_id: params[:photo_id], size: :auto_bg)
  ) do %>
    <img class="main-photo" src="<%= view_helper.main_photo %>">
  <% end %>

  <div class="text-box">
    <h1><%= @project.title %></h1>
    <p><%= @project.description %></p>
  </div>
</div>
