<%= simple_form_for meta_property_list do |f| %>
  <%= f.input :og_image %>
  <%= f.input :og_title %>
  <%= f.input :og_url %>
  <%= f.input :password_protected, as: :select%>
  <%= f.input(
    :root_content,
    input_html: { class: "preview-message" },
    placeholder: "If this field is blank the default menu will appear"
  ) %>
  <%= f.submit %>
<% end %>

<div class="welcome container-fluid">
  <div class="preview-box"></div>
</div>
