<div class="user-menu">
  <ul class="nav">
    <li class="col-xs-4 col-lg-2">
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </li>
    <li class="col-xs-4 col-lg-2">
      <%= link_to "Main Menu", root_url %>
    </li>
    <li class="col-xs-4 col-lg-2">
      <%= link_to "Edit Menu", pages_url %>
    </li>
    <li class="col-xs-4 col-lg-2">
      <%= link_to "New Project", new_project_url %>
    </li>
    <li class="col-xs-4 col-lg-2">
      <%= link_to "All Projects", projects_url %>
    </li>
    <li class="col-xs-4 col-lg-2">
      <%= link_to "Domains", edit_user_path(current_user) %>
    </li>
    <li class="col-xs-4 col-lg-2">
      <%= link_to "Meta", new_meta_property_list_url %>
    </li>
  </ul>
</div>
