<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.png" %>
    <meta name="viewport" content="width=600, maximum-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-lg-10 col-lg-offset-1">
        <% if current_user %>
          <%= render partial: "layouts/user_menu" %>
          <div class="dialogue container-fluid">
            <%= render partial: "shared/flash_messages" %>
            <%= yield :dialogue %>
          </div>
        <% end %>

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
